BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Admin==1.0.8
Flask-Login==0.2.11
Flask-SQLAlchemy==2.0
psycopg2==2.5.4
pyparsing==2.0.1
python-dateutil==1.5
requests==2.4.2
simplejson==3.6.5
gunicorn>=19.1.1