<!DOCTYPE html>
<html>
  <head>
    <title>Linkedin - Auto Verify 2 Factor Authentication</title>
    <link href="css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="styles/popup.css" media="screen" rel="stylesheet" type="text/css">
      <script src="scripts/jquery.min.js"></script>
      <script src="scripts/jquery-ui.js"></script>
      <script src="scripts/underscore.js"></script>
      <script src="scripts/bootstrap.js"></script>
      <script src="scripts/popup.js"></script>
    </head>
    <body>
      <div class="nav nav-pills nav-stacked" style="margin-bottom:0px; background-color:cornflowerblue">
        <div class="container-fluid" id="popup-title">
          <h3>Linkedin - Auto Verifier</h3>
        </div>
      </div>
      <div class="home-content" style="padding:7px;">
        <div>Welcome to Home Page! Nothing to see here except that the APP is running!</div>
      </div>
  </body>
</html>